@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-btw {
  @apply flex justify-between items-center;
}
.cursor {
  @apply cursor-pointer;
}
.open {
  transform: translate(-50%, -50%);
  transition: transform 0.9s ease;
}
.hide {
  transform: translate(-200%, -50%);
  transition: transform 0.9s ease;
}
